body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cajas {
  width: 50px;
  height: 50px;
  background-color: black;
}
.cajas:nth-child(2n) {
  background-color: #fff;
}